<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="components/header.js" type="text/javascript" defer></script>
    <script src="components/footer.js" type="text/javascript" defer></script>

    <link type="text/css" rel="stylesheet" href="css/lightgallery.css" />

    <title>Wymbol</title>
</head>
<body>
    <nav-header id="navHeader"></nav-header>
    <img id ="myImage" src="">
    <div id="lightgallery" class="cards"></div>
    
    <script src="js/lightgallery.min.js"></script>
    <!-- lightgallery plugins -->
    <script src="js/lg-thumbnail.min.js"></script>
    <script src="js/lg-fullscreen.min.js"></script>
    <script type="text/javascript">
        // var allimages = []
    var allimages = <%- JSON.stringify(allimages) %>
    var imageBlobs = []
    document.addEventListener('DOMContentLoaded', function() {
            function blobify() {
            for (i = 0; i < allimages.length; i++){
                const myRequest = new Request(allimages[i]);
                fetch(myRequest)
                .then((response) => response.blob())
                .then((myBlob) => {
                    const objectURL = URL.createObjectURL(myBlob);
                    imageBlobs.push(objectURL);
                });
            }
        }
        blobify();

        setTimeout(() => {
        function insertURL() {
          for (i = 0; i < imageBlobs.length; i++) {
            const div = document.createElement("div");
            div.className = "card";
            // div.data-src = imageBlobs[i];
            div.setAttribute("data-src", imageBlobs[i]);
            document.getElementById("lightgallery").appendChild(div);

            const anchor = document.createElement("a");
            anchor.className = "img-link";
            anchor.href = imageBlobs[i];
            const divList = document.querySelectorAll('.card');
            divList[i].appendChild(anchor);

            const img = document.createElement("img");
            img.src = imageBlobs[i];
            const anchorList = document.querySelectorAll('.img-link');
            anchorList[i].appendChild(img);
          }
        }
        insertURL();
        }, "1000")

        setTimeout(() => {
            lightGallery(document.getElementById('lightgallery'), {
            selector: '.card',
        });
        }, "1600")

    }, false);
        
    </script>
    <script src="main.js"></script>
    <nav-footer></nav-footer>
</body>
</html>