<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="components/header.js" type="text/javascript" defer></script>
    <script src="components/footer.js" type="text/javascript" defer></script>
    <link type="text/css" rel="stylesheet" href="css/lightgallery.css" />
    <title>Wymbol</title>
</head>
<body>
    <nav-header id="navHeader"></nav-header>
    <div id="preloader">
        <img id="spinner" src="images/loading.gif">
    </div>
    <div id="lightgallery" class="cards"></div>
    <script src="js/lightgallery.min.js"></script>
    <!-- lightgallery plugins -->
    <script src="js/lg-thumbnail.min.js"></script>
    <script src="js/lg-fullscreen.min.js"></script>
    <script defer type="text/javascript">
    </script>
    <script defer type="text/javascript">
        var allimages = <%- JSON.stringify(allimages) %>
        // var imageBlobs = []
        
        async function fnAsync(e) {
            for (i = 0; i < allimages.length; i++){
                const file = await fetch(allimages[i]);
                const blob = await file.blob();
                const blobUrl = URL.createObjectURL(blob);
                // imageBlobs.push(objectURL);

                const div = document.createElement("div");
                div.className = "card";
                div.setAttribute("data-src", blobUrl);
                document.getElementById("lightgallery").appendChild(div);

                const anchor = document.createElement("a");
                anchor.className = "img-link";
                anchor.href = blobUrl;
                const divList = document.querySelectorAll('.card');
                divList[i].appendChild(anchor);

                const img = document.createElement("img");
                img.src = blobUrl;
                const anchorList = document.querySelectorAll('.img-link');
                anchorList[i].appendChild(img);
            };
            lightGallery(document.getElementById('lightgallery'), {
                selector: '.card',
            });
        }
        fnAsync();
        window.onload = function (event) {
            setTimeout(() => {
                document.getElementById("preloader").style.display = "none";
            }, 666);
        };
    </script>
    <nav-footer></nav-footer>
</body>
</html>